*.Rhistory
*.err
*.out
*.aux
*.bcf
*.log
*.nav
*.pdf
*.run.xml
*.snm
*.toc
*/auto/
*.bbl
*.blg
*.gz
*/*cache/
*/build/
data/.ukbkey
data/ukbfetch
data/ukbgene
*_cache/
*cache*
*build/
*.png
*.Rhistory
*.ipynb_checkpoints
notebooks/tmp/
notebooks/results/
notebooks/*.html
tmp/
data/annotations/
flymd.html
flymd.md
bin/
lib/
